*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.Title-logo{
    margin: 20px;
    height: 50px;
}

h1{
    display: inline-block;
    line-height: 50px;
    font-size: 50px;
}

main{
    background-color: #39AAFF;
    padding: 1px;
    height: 700px;
    
}

.container{
    background-color: white;
    width: 70%;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
    
}

.container-bottons{
    margin: 20px;
    padding: 20px;
    border-bottom: 1px solid #F6F8F9;
}


.click{
    border-radius: 3px;
    padding: 5px;
    border: none;
}

.task{
    background-color:  #39AAFF;
}

section{
    margin-left: 40px;
    margin-bottom: 20px;
}

h2::before{
    content: "\2713";
    margin-right: 5px;
}

.positive::before{
    content: "\2713";
    color: #6DD8C5;
    border: 1px solid #6DD8C5;
    border-radius: 50%;
    padding: 1px;
    margin-right: 10px;
    font-size: 12px;
}

.negative::before{
    content: "\2715";
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    padding: 1px;
    margin-right: 10px;
    font-size: 12px;
}

.edit{
    background-color: #39AAFF;
    
}

.colored{
    border-radius: 10px;
    color: white;
    font-size: 11px;
    padding: 5px;
}

.line{
    margin-bottom: 15px;
}

.goal{
    background-color: #AB5DE6;
}

.recruit{
    background-color: #2CC7AB;
}

.mobile{
    background-color: #FA9B00;
}

.web{
    background-color: #EC4A9D;
}

.sale{
    background-color: #A3D214;
}